.section3 {
  padding: 7rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.image {
  width: 80px;
  height: 80px;
}
.tagline {
  max-width: 700px;
  font-size: 1.4rem;
  color: var(--text-charcoal-gray);
  line-height: 1.5;
}
.subtag {
  color: var(--primary-green);
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .section3 {
    padding: 4rem 3rem;
  }
  .tagline {
    font-size: 1.1rem;
  }
}
